In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
path=r"SalaryData_Train.csv"
df1=pd.read_csv(path)
df1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
df1.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [5]:
df1.dtypes

age               int64
workclass        object
education        object
educationno       int64
maritalstatus    object
occupation       object
relationship     object
race             object
sex              object
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native           object
Salary           object
dtype: object

In [6]:
df1['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay'], dtype=object)

In [7]:
df1['workclass']=df1['workclass'].map({' State-gov':0, ' Self-emp-not-inc':1, ' Private':2, ' Federal-gov':3,
       ' Local-gov':4, ' Self-emp-inc':5, ' Without-pay':6}).astype(int)

In [8]:
df1['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' 7th-8th', ' Doctorate',
       ' Assoc-voc', ' Prof-school', ' 5th-6th', ' 10th', ' Preschool',
       ' 12th', ' 1st-4th'], dtype=object)

In [9]:
df1['education']=df1['education'].map({' Bachelors':0, ' HS-grad':1, ' 11th':2, ' Masters':3, ' 9th':4,
       ' Some-college':5, ' Assoc-acdm':6, ' 7th-8th':7, ' Doctorate':8,
       ' Assoc-voc':9, ' Prof-school':10, ' 5th-6th':11, ' 10th':12, ' Preschool':13,
       ' 12th':14, ' 1st-4th':15}).astype(int)

In [10]:
df1['maritalstatus'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [11]:
df1['maritalstatus']=df1['maritalstatus'].map({' Never-married':0, ' Married-civ-spouse':1, ' Divorced':2,
       ' Married-spouse-absent':3, ' Separated':4, ' Married-AF-spouse':5,
       ' Widowed':6}).astype(int)

In [12]:
df1['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Transport-moving',
       ' Farming-fishing', ' Machine-op-inspct', ' Tech-support',
       ' Craft-repair', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [13]:
df1['occupation']=df1['occupation'].map({' Adm-clerical':0, ' Exec-managerial':1, ' Handlers-cleaners':2,
       ' Prof-specialty':3, ' Other-service':4, ' Sales':5, ' Transport-moving':6,
       ' Farming-fishing':7, ' Machine-op-inspct':8, ' Tech-support':9,
       ' Craft-repair':10, ' Protective-serv':11, ' Armed-Forces':12,
       ' Priv-house-serv':13}).astype(int)

In [14]:
df1['relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [15]:
df1['relationship']=df1['relationship'].map({' Not-in-family':0, ' Husband':1, ' Wife':2, ' Own-child':3, ' Unmarried':4,
       ' Other-relative':5}).astype(int)

In [16]:
df1['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [17]:
df1['race']=df1['race'].map({' White':0, ' Black':1, ' Asian-Pac-Islander':2, ' Amer-Indian-Eskimo':3,
       ' Other':4}).astype(int)

In [18]:
df1['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [19]:
df1['sex']=df1['sex'].map({' Male':0, ' Female':1}).astype(int)

In [20]:
df1['native'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' Puerto-Rico', ' Honduras', ' England', ' Canada', ' Germany',
       ' Iran', ' Philippines', ' Poland', ' Columbia', ' Cambodia',
       ' Thailand', ' Ecuador', ' Laos', ' Taiwan', ' Haiti', ' Portugal',
       ' Dominican-Republic', ' El-Salvador', ' France', ' Guatemala',
       ' Italy', ' China', ' South', ' Japan', ' Yugoslavia', ' Peru',
       ' Outlying-US(Guam-USVI-etc)', ' Scotland', ' Trinadad&Tobago',
       ' Greece', ' Nicaragua', ' Vietnam', ' Hong', ' Ireland',
       ' Hungary'], dtype=object)

In [21]:
df1['native']=df1['native'].map({' United-States':0, ' Cuba':1, ' Jamaica':2, ' India':3, ' Mexico':4,
       ' Puerto-Rico':5, ' Honduras':6, ' England':7, ' Canada':8, ' Germany':9,
       ' Iran':10, ' Philippines':11, ' Poland':12, ' Columbia':13, ' Cambodia':14,
       ' Thailand':15, ' Ecuador':16, ' Laos':17, ' Taiwan':18, ' Haiti':19, ' Portugal':20,
       ' Dominican-Republic':21, ' El-Salvador':22, ' France':23, ' Guatemala':24,
       ' Italy':25, ' China':26, ' South':27, ' Japan':28, ' Yugoslavia':29, ' Peru':30,
       ' Outlying-US(Guam-USVI-etc)':31, ' Scotland':32, ' Trinadad&Tobago':33,
       ' Greece':34, ' Nicaragua':35, ' Vietnam':36, ' Hong':37, ' Ireland':38,
       ' Hungary':39}).astype(int)

In [22]:
df1['Salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [23]:
df1['Salary']=df1['Salary'].map({' <=50K':0, ' >50K':1}).astype(int)

In [24]:
df1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,0,0,13,0,0,0,0,0,2174,0,40,0,0
1,50,1,0,13,1,1,1,0,0,0,0,13,0,0
2,38,2,1,9,2,2,0,0,0,0,0,40,0,0
3,53,2,2,7,1,2,1,1,0,0,0,40,0,0
4,28,2,0,13,1,3,2,1,1,0,0,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,6,12,1,9,2,0,1,0,0,38,0,0
30157,40,2,1,9,1,8,1,0,0,0,0,40,0,1
30158,58,2,1,9,6,0,4,0,1,0,0,40,0,0
30159,22,2,1,9,0,0,3,0,0,0,0,20,0,0
30160,52,5,1,9,1,1,2,0,1,15024,0,40,0,1

In [25]:
X=df1.iloc[:,:-1]
y=df1.iloc[:,-1]

In [26]:
print(X)

       age  workclass  education  educationno  maritalstatus  occupation  \
0       39          0          0           13              0           0
1       50          1          0           13              1           1
2       38          2          1            9              2           2
3       53          2          2            7              1           2
4       28          2          0           13              1           3
...    ...        ...        ...          ...            ...         ...
30156   27          2          6           12              1           9
30157   40          2          1            9              1           8
30158   58          2          1            9              6           0
30159   22          2          1            9              0           0
30160   52          5          1            9              1           1

       relationship  race  sex  capitalgain  capitalloss  hoursperweek  native
0                 0     0    0         2174            0            40       0
1                 1     0    0            0            0            13       0
2                 0     0    0            0            0            40       0
3                 1     1    0            0            0            40       0
4                 2     1    1            0            0            40       1
...             ...   ...  ...          ...          ...           ...     ...
30156             2     0    1            0            0            38       0
30157             1     0    0            0            0            40       0
30158             4     0    1            0            0            40       0
30159             3     0    0            0            0            20       0
30160             2     0    1        15024            0            40       0

[30161 rows x 13 columns]

In [27]:
print(y)

0        0
1        0
2        0
3        0
4        0
        ..
30156    0
30157    1
30158    0
30159    0
30160    1
Name: Salary, Length: 30161, dtype: int32

In [28]:
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn import svm
from sklearn.svm import SVC

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=34)

In [30]:
classifier=SVC()

In [31]:
classifier.fit(X_train,y_train)

SVC()

In [32]:
score=classifier.score(X_test,y_test)

In [33]:
print(score)

0.8025857782197912

In [34]:
array=df1.values

In [36]:
X=array[:,:-1]
y=array[:,-1]

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=34)

In [38]:
classifier=SVC()

In [39]:
classifier.fit(X_train,y_train)

SVC()

In [40]:
score=classifier.score(X_test,y_test)

In [41]:
print(score)

0.8025857782197912